*{
    font-family: 'Libre Bodoni', serif;
    color: white;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.jobs{
    display: grid;
}
.jobs h2{
    font-size: 60px;
}
@media screen and  (min-width: 768px){
    .fondocv{
        background-image: url("CV/imagencv.png");
        background-size: cover;
        height: 400px;
        
    }
    .titulo span{
        font-size: 10vh;
        text-align: center;
        align-items: center;
        
    }
    .titulo span.nombre{
        font-size: 40px;
    }
    .info{
        border-radius: 9px;
        font-size: 20px; 
    }

    
}
ul{
    background-color: #1a2738;
}

.li_separado  ul  li{
    margin-bottom: 20px;
}
.textcentrado{
    text-align: center;
}
.separado{
    width: 100%;
    position: absolute;
    bottom: 0;


}.fondo-links{
    background-color: rgba(0, 0, 0, 0.418);
}
.link{
    text-align: center;
    
}

.links{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.418);
}

.links a{
    text-align: center;
    text-decoration: none;
}

.links a svg{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.links a:hover{
    height: 30px ;
    width: 30px;

}

.links a svg:hover{
    height: 30px;
    width: 30px;

}



.nombre{
text-align: center;
font-family: 'Acme', sans-serif;
font-size: 100%;
font-size: 80px;
}

.descripcion{
font-size: 3vh;
}

.flex{
    display: flex;
}
.bodoni{
    font-family: 'Libre Bodoni', serif;
    color: white;
}
.letras{
    color: white;
    background-color: #1b1b2269;
    border-radius: 10px;
}

.sobre{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Main{
position:absolute;
top: 0;
left: 0;
width: 100%;
height: 713px;
background-color: #1c1c1d;
opacity: 0,5;
mix-blend-mode: overlay;
}
.correccion{
    padding-top: 3px;
}
.camara svg{
    width: 40%;
    height: 40%;
    padding-bottom: 5px;
}

.iconmenu svg{
    color: white;
    width: 100%;
    height: 100%;
}
.about-me{
    font-family: 'Libre Bodoni', serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    
}
.lp{
    margin-right: 20px;
}
.contenedorimg{
    
    margin: 4px;
    max-height: 700px;
    
    
    

}       
.contenedorimg.card.card-body{
    background-color: black;
    color: white;
}
.fit{
   object-fit: con;
}
.carousel .item {
    height: 100%;
    max-height: 500px;
    min-height: 100px;
  }
  
  .item img {
      width: 100%;
      
  }

.imgtrabajo{
    max-height:90px ;
    height: 100%;
    width: 100%;
   
    
    
}
.textcentrado{
    text-align: center;
}
.correccion{
    height: auto;
    max-height: 456px;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.border{
    border: 2px solid red;
    border-radius: 50px;
    
}
.Fotografo{
    
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 200px;
    max-width:fit-content;
    border: 3px solid #0e0520;
    border-radius: 50px;
    background: #0e0520;
    box-shadow: 6px 6px 15px   black;
    
}
.contenedorx{
    width: 100%;
    height: 400px;
}


.info p{
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 9px;
    font-size: 100%;
    margin-bottom: 150px;
}
.titulo span{
    font-size: 4vh;
    text-align: center;
    align-items: center;
}
.titulo span.nombre{
    font-size: 7vh;
}
.fondocv{
    background-image: url("CV/imagencv.png");
    background-size: cover;
    object-fit: cover;
}


#je{
    min-width: 100%;
}

.Main-Video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 850px;
    max-height: 713px;
    object-fit: cover;
    filter: blur(2px);
}


.bar{
    background-color: #0e0520;
    text-align: center;
    width: 100%;
}

.pading{
    margin-bottom: 40px;
}
.pad{
    margin: 10px;
    font-size: 20px;
    
}



.prueba1{
    
    width: 100%;
    height: 710px;
    overflow: hidden;
    
    

}
.box2{
    background-color: rgb(51, 49, 53);
    width:100%;
    
}
.box3{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #1b4ec5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #240d52, #663413); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
    
    
}
.box4{
    overflow: hidden;
    padding-top: px;
    background-color: rgb(9, 255, 0);
    background: linear-gradient(to bottom, #6e3915,#240d52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    
}
.box5{
    padding-top: 30px;
    background: linear-gradient(to bottom, #10161e,#1a2738);
    width: 100%;
    height: 1500px;
    display: flex;
    
}
.box6{
    background-color: rgb(33, 34, 34);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    background-color: aqua;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


