body{
    font-family: 'Roboto Condensed', sans-serif;
}

.nombre{
text-align: center;
font-family: 'Acme', sans-serif;
font-size: 100%;
font-size: 80px;
}

.descripcion{
font-size: 3vh;
}

.flex{
    display: flex;
}
.letras{
    color: white;
    background-color: #1b1b2269;
    border-radius: 10px;
}

.sobre{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Main{
position:absolute;
top: 0;
left: 0;
width: 100%;
height: 713px;
background-color: #1c1c1d;
opacity: 0,5;
mix-blend-mode: overlay;
}
.correccion{
    padding-top: 3px;
}
.camara svg{
    width: 40%;
    height: 40%;
    padding-bottom: 5px;
}
.tamanio{
    width: 100%;
    max-height: 400px;
}

.iconmenu svg{
    color: white;
    width: 100%;
    height: 100%;
}
.about-me{
    font-family: 'Libre Bodoni', serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    
}
.lp{
    margin-right: 20px;
}
.contenedorimg{
    margin: 7px;
    overflow: hidden;
    max-height: 300px;
    width: 300px;
    

}       
.carousel .item {
    height: 100%;
    max-height: 500px;
    min-height: 100px;
  }
  
  .item img {
      width: 100%;
      
  }

.imgtrabajo{
    overflow: hidden;
    height: 100%;
    width: 100%;
    
    
}
.textcentrado{
    text-align: center;
}
.correccion{
    height: auto;
    max-height: 456px;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.border{
    border: 2px solid red;
    border-radius: 50px;
    filter: blur(5px);
}
.Fotografo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 200px;
    max-width:fit-content;
    border: 3px solid #0e0520;
    border-radius: 50px;
    background: #0e0520;
    box-shadow: 6px 6px 15px   black;
    
}



#je{
    min-width: 100%;
}

.Main-Video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 850px;
    max-height: 713px;
    object-fit: cover;
    filter: blur(2px);
}


.bar{
    background-color: #0e0520;
    text-align: center;
    width: 100%;
}


.pad{
    margin: 10px;
    font-size: 20px;
    
}



.prueba1{
    
    width: 100%;
    height: 710px;
    overflow: hidden;
    
    

}
.box2{
    background-color: rgb(51, 49, 53);
    width:100%;
    
}
.box3{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #1b4ec5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #240d52, #663413); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
    
    
}
.box4{
    overflow: hidden;
    padding-top: px;
    background-color: rgb(9, 255, 0);
    background: linear-gradient(to bottom, #6e3915, rgb(230, 74, 2) ,#830121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    
}
.box5{
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6{
    background-color: rgb(33, 34, 34);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    background-color: aqua;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


